  
body {
    background-color: pink;
    text-align: center
  }
  /* maintain picture aspect ratio */
  img { height: 250px;
  width:250px;
  object-fit:contain; 
  }
  p{
    color: blue;
    font-size: 30px;
  }
  table{
border: 3px solid black;
background-color: coral;
font-size: 25px;

  }
  button{
padding: 25px 30px 40px;


  }